body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8f6;
  color: #333;
}

.navbar {
  background-color: #f08080;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 94%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
  background-color: #FFE4E1;
}

.hero-text {
  flex: 1;
  min-width: 280px;
  padding-right: 20px;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #F08080;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.footer {
  background-color: #F08080;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}
