body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

h1 {
    text-align: center;
    color: blue;
}

p {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
    color: blue;   
}

.foto {
    style= float:left;
    margin-right:20px;
    width: 180px;
}

.biodata-table {
  border-collapse: collapse;
  width: 100%;
}

.biodata-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: blue;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

h3 {
  margin-top: 20px;;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

.header-wrap{
    display: grid;
    background-color: white;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    border-radius: 6px;
}

.content-wrap{
    object-fit: cover;
    border-radius:6px;
    border:3px solid rgba(0, 0, 0, 0.0789);
    width: 40%;
    margin-left: 30%;
    align-items: center;
}

.content{
    object-fit: cover;
    align-items: center;
    gap: 40px;
    margin-left: 6%;
    font-family: Arial, sans-serif;
}

.container{
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;                              
  margin-left: 5%;
  margin-top: 5%;
  max-width: 900px;               
}
.kiri, .kanan{
  flex: 10;                              
  padding: 15px;
  font-family: Arial, sans-serif;
}
.kiri, caption{
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.kanan, caption{
  font-size: 20px;
  font-family: Arial, sans-serif;
}
