body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: peachpuff;
}

h1 {
    text-align: center;
    color: darkorange;
}

p {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
    color: coral;   
}

.profil-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}

.foto {
    style= float:left;
    margin-right:20px;
    width: 180px;
}

.biodata-table {
  border-collapse: collapse;
  width: 100%;
}

.biodata-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2a365;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

h3 {
  margin-top: 20px;;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}