body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

h1 {
  text-align: center;
  color: #0077cc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.foto {
  display: block;
  margin: 20px auto;
  width: 150px;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}