body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #333;
}

header {
  background-color: #ff4d4d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
}

.navigasi ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  gap: 30px;
}

.navigasi a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu-favorit {
  padding: 40px 20px;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.menu-card {
  background-color: #fff8f0;
  border: 1px solid #ffcccc;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.menu-card h3 {
  color: #d10000;
  margin-bottom: 10px;
}

.tentang-kami {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.tentang-kami h2 {
  color: #d10000;
  margin-bottom: 20px;
  text-align: center;
}

.tentang-kami p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.kontak {
    margin: auto;
}

.kontak h2 {
  color: #d10000;
  text-align: center;
}

.kontak p {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  padding: 20px 40px;
  color: white;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-title img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.logo-title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-title {
   display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: maroon;
  padding: 20px 40px;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.logo-title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-content img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-left: 500px;
}

body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  color: #333;
}

.kontak-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.kontak-info p {
    margin: 0;
    font-size: 16px;
}

.kontak-info i {
    margin-right: 8px;
    color: crimson;
}